<div class="row">
    <div class="radio col-xs-6 col-md-6">
      <label>
          <input type="radio" name="optionsRadios" id="optionsRadiosRandom" value="random" checked>
          Random
      </label>
    </div>
    <div class="radio col-xs-6 col-md-6">
      <label>
          <input type="radio" name="optionsRadios" id="optionsRadiosDetermined" value="determined">
          Determined
      </label>
    </div>
</div>
<div class="row">
    <div class="col-xs-3 col-md-3">
        <label class="control-label">min-lon
            <input type="number" id="minlon" name="min_lon">
        </label>
    </div>
    <div class="col-xs-3 col-md-3">
        <label class="control-label">min-lon
            <input type="number" id="minlat" name="min_lat">
        </label>
    </div>
    <div class="col-xs-3 col-md-3">
        <label class="control-label">min-lon
            <input type="number" id="maxlon" name="max_lon">
        </label>
    </div>
    <div class="col-xs-3 col-md-3">
        <label class="control-label">min-lon
            <input type="number" id="maxlat" name="max_lat">
        </label>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-6">
        <label class="control-label">number of drivers
            <input type="number" id="NbDrivers" name="nb_drivers">
        </label>
    </div>
    <div class="col-xs-6 col-md-6">
        <label class="control-label">average driver per start-end pair
            <input type="number" id="AvDrivers" name="av_drivers">
        </label>
    </div>
</div>
