<div>
    <h3><small>Data</small></h3>
    <div class="box-shadow">
        {% block data %}
        {% end %}
    </div>
</div>
<div>
    <h3><small>Parameters</small></h3>
    <div class="box-shadow">
        {% block parameters %}
        {% end %}
    </div>
</div>
<div>
    <h3><small>Problems</small></h3>
    <div class="box-shadow">
        {% block problems %}
        {% end %}
    </div>
</div>
<div>
    <h3><small>Heuristics</small></h3>
    <div class="box-shadow">
        {% block heuristics %}
        {% end %}
    </div>
</div>